.message {
    padding: 10px;
    margin: 10px;
    background-color: #e8f9ff;
}

.cool-font {
    font-family: Shrikhand, cursive;
    font-size: 34px;
    color: #4db6ac;
}

.jumbotron {
    font-family: Shrikhand, cursive;
    color: white;
    background-color: #4db6ac;
}

input,
textarea {
    margin: 20px;
}

footer {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.footer-links {
    text-align: center;
}

.icons {
    text-align: center;
    width: 375px;
    height: 375px;
    z-index: 1;
    background: #ee6e73;
    border-radius: 10px;
    position: absolute;
    top: 20%;
    left: 60%;
    margin: 5px;
    padding: 5px;
}

.about {
    background: rgba(220, 220, 220, 0.75);
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: 20%;
    left: 10%;
    /* background:#ffffff; */
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 475px;
    z-index: 1;
}

.techIcon {
    width: 100px;
    height: 100px;
    z-index: 1;
    background: #ffffff;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

#center-title {
    padding-top: 100px;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #ffffff;
}

#background-image {
    /* max-height: 980px;
    max-width:auto; */
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: 0;
    position: relative;
    background-position: center center;
}

.btn {
    margin: 10px;
    font-family: Shrikhand, cursive;
    color: #4db6ac;
    background-color: white;
    border-color: #4db6ac;
    border-style: solid;
    border-width: 2px;
}

p {
    margin: 0;
    font-size: 16px;
}

#reset-password {
    background: #fff;
    cursor: pointer;
    margin-top: 20px;
}

#date {
    text-align: center;
}

.header {
    position: absolute;
    top: 20%;
    Left: 10%;
    z-index: 1;
    font-family: 'Raleway', sans-serif;
    /* color: #6666ff; */
    /* color: #ffffff; */
    color: #ff6868;
    text-shadow: 2px, 3px white;
}

.the-input {
    background: #ff6868;
    height: 275px;
}

.typewriter {
    position: absolute;
    z-index: 0;
    /* top: 85%;
        left: 10%;*/
    color: #ff6868;
}

.typewriter h4 {
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}


/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #ff6868;
    }
}